## A PROJECT TO FIX THE WATER PROBLEMS IN MAJI NDOGO -- CHARTING THE COURSE FOR MAJI NDOGO'S WATER FUTURE

In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://root:hillsong@localhost:3306/md_water_services

'Connected: root@md_water_services'

In [3]:
%%sql -- a query to show all tables when connected to mysql

SHOW TABLES

 * mysql+pymysql://root:***@localhost:3306/md_water_services
12 rows affected.

[('auditor_report',),
 ('combined_analysis_table',),
 ('data_dictionary',),
 ('employee',),
 ('global_water_access',),
 ('incorrect_records',),
 ('location',),
 ('project_progress',),
 ('visits',),
 ('water_quality',),
 ('water_source',),
 ('well_pollution',)]

In [4]:
%%sql -- check a random table (employee) to check if all is okay

select
    *
from
    employee
limit 5;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[(0, 'Amara Jengo', '+99637993287', 'amara.jengo@ndogowater.gov', '36 Pwani Mchangani Road', 'Sokoto', 'Ilanga', 'Field Surveyor'),
 (1, 'Bello Azibo', '+99643864786', 'bello.azibo@ndogowater.gov', '129 Ziwa La Kioo Road', 'Kilimani', 'Rural', 'Field Surveyor'),
 (2, 'Bakari Iniko', '+99222599041', 'bakari.iniko@ndogowater.gov', '18 Mlima Tazama Avenue', 'Hawassa', 'Rural', 'Field Surveyor'),
 (3, 'Malachi Mavuso', '+99945849900', 'malachi.mavuso@ndogowater.gov', '100 Mogadishu Road', 'Akatsi', 'Lusaka', 'Field Surveyor'),
 (4, 'Cheche Buhle', '+99381679640', 'cheche.buhle@ndogowater.gov', '1 Savanna Street', 'Akatsi', 'Rural', 'Field Surveyor')]

## 1. We check to see if there are any specific provinces or towns where some sources are more abundant

## We join the location table to visits table to water source to get the towns and provinces, the various location ids, types of sources and number of people served

In [5]:
%%sql -- a query to join the water source, location, visits, well pollution tables for simple analysis

SELECT
    wat.type_of_water_source,
    loc.province_name,
    loc.town_name,
    loc.location_type,
    wat.number_of_people_served,
    vis.time_in_queue,
    wpoll.results
FROM
    visits as vis
JOIN
    location as loc on vis.location_id = loc.location_id
JOIN
    water_source as wat on wat.source_id = vis.source_id
LEFT JOIN
    well_pollution as wpoll on wpoll.source_id = vis.source_id
WHERE
    vis.visit_count = 1 -- certain sites were visited more than once so we include this to remove duplicates
limit 5;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[('river', 'Sokoto', 'Ilanga', 'Urban', 402, 15, None),
 ('well', 'Kilimani', 'Rural', 'Rural', 252, 0, 'Contaminated: Biological'),
 ('shared_tap', 'Hawassa', 'Rural', 'Rural', 542, 62, None),
 ('well', 'Akatsi', 'Lusaka', 'Urban', 210, 0, 'Contaminated: Biological'),
 ('shared_tap', 'Akatsi', 'Rural', 'Rural', 2598, 28, None)]

In [6]:
%%sql -- we create a CTE out of the query

WITH combined_analysis_table AS (
    SELECT
        wat.type_of_water_source,
        loc.province_name,
        loc.town_name,
        loc.location_type,
        wat.number_of_people_served,
        vis.time_in_queue,
        wpoll.results
    FROM
        visits as vis
    JOIN
        location as loc on vis.location_id = loc.location_id
    JOIN
        water_source as wat on wat.source_id = vis.source_id
    LEFT JOIN
        well_pollution as wpoll on wpoll.source_id = vis.source_id
    WHERE
        vis.visit_count = 1 -- certain sites were visited more than once so we include this to remove duplicates
    )
SELECT
    *
FROM
    combined_analysis_table
limit 5;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[('river', 'Sokoto', 'Ilanga', 'Urban', 402, 15, None),
 ('well', 'Kilimani', 'Rural', 'Rural', 252, 0, 'Contaminated: Biological'),
 ('shared_tap', 'Hawassa', 'Rural', 'Rural', 542, 62, None),
 ('well', 'Akatsi', 'Lusaka', 'Urban', 210, 0, 'Contaminated: Biological'),
 ('shared_tap', 'Akatsi', 'Rural', 'Rural', 2598, 28, None)]

In [ ]:
%%sql -- OR A VIEW

CREATE VIEW combined_analysis_table AS
-- This view assembles data from different tables into one to simplify analysis
    SELECT
        wat.type_of_water_source,
        loc.province_name,
        loc.town_name,
        loc.location_type,
        wat.number_of_people_served as people_served,
        vis.time_in_queue,
        wpoll.results
    FROM
        visits as vis
    JOIN
        location as loc on vis.location_id = loc.location_id
    JOIN
        water_source as wat on wat.source_id = vis.source_id
    LEFT JOIN
        well_pollution as wpoll on wpoll.source_id = vis.source_id -- we use a left join this time because not all location have results
    WHERE
        vis.visit_count = 1; -- certain sites were visited more than once so we include this to remove duplicates

In [7]:
%%sql

select
    *
from
    combined_analysis_table
limit 5;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[('river', 'Sokoto', 'Ilanga', 'Urban', 402, 15, None),
 ('well', 'Kilimani', 'Rural', 'Rural', 252, 0, 'Contaminated: Biological'),
 ('shared_tap', 'Hawassa', 'Rural', 'Rural', 542, 62, None),
 ('well', 'Akatsi', 'Lusaka', 'Urban', 210, 0, 'Contaminated: Biological'),
 ('shared_tap', 'Akatsi', 'Rural', 'Rural', 2598, 28, None)]

## WE CREATE PIVOT TABLES TO CALCULATE THE NUMBER OF PEOPLE PER PROVINCES AND TOWNS

## a. province totals

In [8]:
%%sql -- a sum of people served grouped by province

SELECT
    province_name,
    SUM(people_served) AS total_pple_serv
FROM
    combined_analysis_table
GROUP BY 
    province_name;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[('Sokoto', Decimal('5774434')),
 ('Kilimani', Decimal('6584764')),
 ('Hawassa', Decimal('3843810')),
 ('Akatsi', Decimal('5993306')),
 ('Amanzi', Decimal('5431826'))]

In [9]:
%%sql

WITH province_totals AS ( -- This CTE calculates the population of each province
    SELECT
        province_name,
        SUM(people_served) AS total_pple_serv
    FROM
        combined_analysis_table
    GROUP BY 
        province_name
)
SELECT
    cat.province_name,
    -- These case statements create columns for each type of source.
    -- The results are aggregated and percentages are calculated.
    ROUND((SUM(CASE WHEN type_of_water_source = 'river'
        THEN people_served ELSE 0 END) * 100.0 / pt.total_pple_serv), 0) AS river,
    ROUND((SUM(CASE WHEN type_of_water_source = 'well'
        THEN people_served ELSE 0 END) * 100.0 / pt.total_pple_serv), 0) AS well,
    ROUND((SUM(CASE WHEN type_of_water_source = 'shared_tap'
        THEN people_served ELSE 0 END) * 100.0 / pt.total_pple_serv), 0) AS shared_tap,
    ROUND((SUM(CASE WHEN type_of_water_source = 'tap_in_home'
        THEN people_served ELSE 0 END) * 100.0 / pt.total_pple_serv), 0) AS tap_in_home,
    ROUND((SUM(CASE WHEN type_of_water_source = 'tap_in_home_broken'
        THEN people_served ELSE 0 END) * 100.0 / pt.total_pple_serv), 0) AS tap_in_home_broken
FROM
    combined_analysis_table AS cat
JOIN
    province_totals AS pt ON cat.province_name = pt.province_name
GROUP BY
    cat.province_name
ORDER BY
    cat.province_name
;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[('Akatsi', Decimal('5'), Decimal('23'), Decimal('49'), Decimal('14'), Decimal('10')),
 ('Amanzi', Decimal('3'), Decimal('7'), Decimal('38'), Decimal('28'), Decimal('24')),
 ('Hawassa', Decimal('4'), Decimal('24'), Decimal('43'), Decimal('15'), Decimal('15')),
 ('Kilimani', Decimal('8'), Decimal('20'), Decimal('47'), Decimal('13'), Decimal('12')),
 ('Sokoto', Decimal('21'), Decimal('15'), Decimal('38'), Decimal('16'), Decimal('10'))]

## b. town totals

In [10]:
%%sql -- check town totals

WITH town_totals AS ( -- This CTE calculates the population of each town, grouped by province first to check similar town names
                      -- there are two harare towns so we have to group by province_name and town_name
    SELECT
        province_name,
        town_name,
        SUM(people_served) AS total_pple_serv
    FROM
        combined_analysis_table
    GROUP BY 
        province_name, town_name
)
SELECT
    *
FROM
    town_totals
limit 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('Sokoto', 'Ilanga', Decimal('420790')),
 ('Kilimani', 'Rural', Decimal('4054284')),
 ('Hawassa', 'Rural', Decimal('2859154')),
 ('Akatsi', 'Lusaka', Decimal('568068')),
 ('Akatsi', 'Rural', Decimal('4602096')),
 ('Hawassa', 'Zanzibar', Decimal('137956')),
 ('Amanzi', 'Dahabu', Decimal('747662')),
 ('Sokoto', 'Rural', Decimal('3989718')),
 ('Akatsi', 'Kintampo', Decimal('403222')),
 ('Akatsi', 'Harare', Decimal('419920'))]

In [11]:
%%sql

WITH town_totals AS ( -- This CTE calculates the population of each town, grouped by province first to check similar town names
                      -- there are two harare towns so we have to group by province_name and town_name
    SELECT
        province_name,
        town_name,
        SUM(people_served) AS total_pple_serv
    FROM
        combined_analysis_table
    GROUP BY 
        province_name, town_name
)
SELECT
    cat.province_name,
    cat.town_name,
    ROUND((SUM(CASE WHEN type_of_water_source = 'river'
        THEN people_served ELSE 0 END) * 100.0 / tt.total_pple_serv), 0) AS river,
    ROUND((SUM(CASE WHEN type_of_water_source = 'well'
        THEN people_served ELSE 0 END) * 100.0 / tt.total_pple_serv), 0) AS well,
    ROUND((SUM(CASE WHEN type_of_water_source = 'shared_tap'
        THEN people_served ELSE 0 END) * 100.0 / tt.total_pple_serv), 0) AS shared_tap,
    ROUND((SUM(CASE WHEN type_of_water_source = 'tap_in_home'
        THEN people_served ELSE 0 END) * 100.0 / tt.total_pple_serv), 0) AS tap_in_home,
    ROUND((SUM(CASE WHEN type_of_water_source = 'tap_in_home_broken'
        THEN people_served ELSE 0 END) * 100.0 / tt.total_pple_serv), 0) AS tap_in_home_broken
FROM
    combined_analysis_table AS cat
JOIN
    town_totals AS tt ON cat.province_name = tt.province_name AND cat.town_name = tt.town_name
GROUP BY
    cat.province_name,
    cat.town_name
ORDER BY
    cat.town_name
;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
31 rows affected.

[('Amanzi', 'Abidjan', Decimal('2'), Decimal('4'), Decimal('53'), Decimal('22'), Decimal('19')),
 ('Kilimani', 'Amara', Decimal('8'), Decimal('30'), Decimal('22'), Decimal('25'), Decimal('16')),
 ('Amanzi', 'Amina', Decimal('8'), Decimal('9'), Decimal('24'), Decimal('3'), Decimal('56')),
 ('Hawassa', 'Amina', Decimal('2'), Decimal('42'), Decimal('14'), Decimal('19'), Decimal('24')),
 ('Amanzi', 'Asmara', Decimal('3'), Decimal('4'), Decimal('49'), Decimal('24'), Decimal('20')),
 ('Sokoto', 'Bahari', Decimal('21'), Decimal('20'), Decimal('11'), Decimal('36'), Decimal('12')),
 ('Amanzi', 'Bello', Decimal('3'), Decimal('3'), Decimal('53'), Decimal('20'), Decimal('22')),
 ('Sokoto', 'Cheche', Decimal('19'), Decimal('18'), Decimal('16'), Decimal('35'), Decimal('12')),
 ('Amanzi', 'Dahabu', Decimal('3'), Decimal('4'), Decimal('37'), Decimal('55'), Decimal('1')),
 ('Hawassa', 'Deka', Decimal('3'), Decimal('38'), Decimal('16'), Decimal('23'), Decimal('21')),
 ('Hawassa', 'Djenne', Decimal('3'), Decimal('36'), Decimal('18'), Decimal('19'), Decimal('23')),
 ('Akatsi', 'Harare', Decimal('2'), Decimal('27'), Decimal('17'), Decimal('28'), Decimal('27')),
 ('Kilimani', 'Harare', Decimal('7'), Decimal('31'), Decimal('11'), Decimal('30'), Decimal('20')),
 ('Sokoto', 'Ilanga', Decimal('16'), Decimal('21'), Decimal('12'), Decimal('36'), Decimal('15')),
 ('Kilimani', 'Isiqalo', Decimal('7'), Decimal('30'), Decimal('19'), Decimal('25'), Decimal('18')),
 ('Akatsi', 'Kintampo', Decimal('2'), Decimal('26'), Decimal('15'), Decimal('31'), Decimal('26')),
 ('Sokoto', 'Kofi', Decimal('20'), Decimal('20'), Decimal('16'), Decimal('34'), Decimal('10')),
 ('Akatsi', 'Lusaka', Decimal('2'), Decimal('26'), Decimal('17'), Decimal('28'), Decimal('28')),
 ('Sokoto', 'Majengo', Decimal('18'), Decimal('20'), Decimal('14'), Decimal('36'), Decimal('12')),
 ('Sokoto', 'Marang', Decimal('17'), Decimal('21'), Decimal('19'), Decimal('31'), Decimal('13')),
 ('Kilimani', 'Mrembo', Decimal('7'), Decimal('32'), Decimal('16'), Decimal('25'), Decimal('21')),
 ('Amanzi', 'Pwani', Decimal('3'), Decimal('4'), Decimal('53'), Decimal('20'), Decimal('21')),
 ('Sokoto', 'Rural', Decimal('22'), Decimal('13'), Decimal('49'), Decimal('8'), Decimal('8')),
 ('Kilimani', 'Rural', Decimal('9'), Decimal('19'), Decimal('55'), Decimal('8'), Decimal('9')),
 ('Hawassa', 'Rural', Decimal('4'), Decimal('19'), Decimal('52'), Decimal('12'), Decimal('12')),
 ('Akatsi', 'Rural', Decimal('6'), Decimal('22'), Decimal('59'), Decimal('9'), Decimal('5')),
 ('Amanzi', 'Rural', Decimal('3'), Decimal('10'), Decimal('27'), Decimal('30'), Decimal('30')),
 ('Hawassa', 'Serowe', Decimal('6'), Decimal('34'), Decimal('14'), Decimal('23'), Decimal('23')),
 ('Hawassa', 'Yaounde', Decimal('2'), Decimal('38'), Decimal('14'), Decimal('22'), Decimal('23')),
 ('Hawassa', 'Zanzibar', Decimal('0'), Decimal('40'), Decimal('22'), Decimal('22'), Decimal('17')),
 ('Kilimani', 'Zuri', Decimal('8'), Decimal('4'), Decimal('71'), Decimal('6'), Decimal('11'))]

In [12]:
%%sql -- we create a temporary table to store this table. it saves memory since its deleted whenever the db connection ends

CREATE TEMPORARY TABLE town_agg_water_access
WITH town_totals AS ( -- This CTE calculates the population of each town, grouped by province first to check similar town names
                      -- there are two harare towns so we have to group by province_name and town_name
    SELECT
        province_name,
        town_name,
        SUM(people_served) AS total_pple_serv
    FROM
        combined_analysis_table
    GROUP BY 
        province_name, town_name
)
SELECT
    cat.province_name,
    cat.town_name,
    ROUND((SUM(CASE WHEN type_of_water_source = 'river'
        THEN people_served ELSE 0 END) * 100.0 / tt.total_pple_serv), 0) AS river,
    ROUND((SUM(CASE WHEN type_of_water_source = 'well'
        THEN people_served ELSE 0 END) * 100.0 / tt.total_pple_serv), 0) AS well,
    ROUND((SUM(CASE WHEN type_of_water_source = 'shared_tap'
        THEN people_served ELSE 0 END) * 100.0 / tt.total_pple_serv), 0) AS shared_tap,
    ROUND((SUM(CASE WHEN type_of_water_source = 'tap_in_home'
        THEN people_served ELSE 0 END) * 100.0 / tt.total_pple_serv), 0) AS tap_in_home,
    ROUND((SUM(CASE WHEN type_of_water_source = 'tap_in_home_broken'
        THEN people_served ELSE 0 END) * 100.0 / tt.total_pple_serv), 0) AS tap_in_home_broken
FROM
    combined_analysis_table AS cat
JOIN
    town_totals AS tt ON cat.province_name = tt.province_name AND cat.town_name = tt.town_name
GROUP BY
    cat.province_name,
    cat.town_name
ORDER BY
    cat.province_name,
    cat.town_name
;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
31 rows affected.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [13]:
%%sql  -- checking our new temporary table

SELECT
    *
FROM
    town_agg_water_access ;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
31 rows affected.

[('Akatsi', 'Harare', Decimal('2'), Decimal('27'), Decimal('17'), Decimal('28'), Decimal('27')),
 ('Akatsi', 'Kintampo', Decimal('2'), Decimal('26'), Decimal('15'), Decimal('31'), Decimal('26')),
 ('Akatsi', 'Lusaka', Decimal('2'), Decimal('26'), Decimal('17'), Decimal('28'), Decimal('28')),
 ('Akatsi', 'Rural', Decimal('6'), Decimal('22'), Decimal('59'), Decimal('9'), Decimal('5')),
 ('Amanzi', 'Abidjan', Decimal('2'), Decimal('4'), Decimal('53'), Decimal('22'), Decimal('19')),
 ('Amanzi', 'Amina', Decimal('8'), Decimal('9'), Decimal('24'), Decimal('3'), Decimal('56')),
 ('Amanzi', 'Asmara', Decimal('3'), Decimal('4'), Decimal('49'), Decimal('24'), Decimal('20')),
 ('Amanzi', 'Bello', Decimal('3'), Decimal('3'), Decimal('53'), Decimal('20'), Decimal('22')),
 ('Amanzi', 'Dahabu', Decimal('3'), Decimal('4'), Decimal('37'), Decimal('55'), Decimal('1')),
 ('Amanzi', 'Pwani', Decimal('3'), Decimal('4'), Decimal('53'), Decimal('20'), Decimal('21')),
 ('Amanzi', 'Rural', Decimal('3'), Decimal('10'), Decimal('27'), Decimal('30'), Decimal('30')),
 ('Hawassa', 'Amina', Decimal('2'), Decimal('42'), Decimal('14'), Decimal('19'), Decimal('24')),
 ('Hawassa', 'Deka', Decimal('3'), Decimal('38'), Decimal('16'), Decimal('23'), Decimal('21')),
 ('Hawassa', 'Djenne', Decimal('3'), Decimal('36'), Decimal('18'), Decimal('19'), Decimal('23')),
 ('Hawassa', 'Rural', Decimal('4'), Decimal('19'), Decimal('52'), Decimal('12'), Decimal('12')),
 ('Hawassa', 'Serowe', Decimal('6'), Decimal('34'), Decimal('14'), Decimal('23'), Decimal('23')),
 ('Hawassa', 'Yaounde', Decimal('2'), Decimal('38'), Decimal('14'), Decimal('22'), Decimal('23')),
 ('Hawassa', 'Zanzibar', Decimal('0'), Decimal('40'), Decimal('22'), Decimal('22'), Decimal('17')),
 ('Kilimani', 'Amara', Decimal('8'), Decimal('30'), Decimal('22'), Decimal('25'), Decimal('16')),
 ('Kilimani', 'Harare', Decimal('7'), Decimal('31'), Decimal('11'), Decimal('30'), Decimal('20')),
 ('Kilimani', 'Isiqalo', Decimal('7'), Decimal('30'), Decimal('19'), Decimal('25'), Decimal('18')),
 ('Kilimani', 'Mrembo', Decimal('7'), Decimal('32'), Decimal('16'), Decimal('25'), Decimal('21')),
 ('Kilimani', 'Rural', Decimal('9'), Decimal('19'), Decimal('55'), Decimal('8'), Decimal('9')),
 ('Kilimani', 'Zuri', Decimal('8'), Decimal('4'), Decimal('71'), Decimal('6'), Decimal('11')),
 ('Sokoto', 'Bahari', Decimal('21'), Decimal('20'), Decimal('11'), Decimal('36'), Decimal('12')),
 ('Sokoto', 'Cheche', Decimal('19'), Decimal('18'), Decimal('16'), Decimal('35'), Decimal('12')),
 ('Sokoto', 'Ilanga', Decimal('16'), Decimal('21'), Decimal('12'), Decimal('36'), Decimal('15')),
 ('Sokoto', 'Kofi', Decimal('20'), Decimal('20'), Decimal('16'), Decimal('34'), Decimal('10')),
 ('Sokoto', 'Majengo', Decimal('18'), Decimal('20'), Decimal('14'), Decimal('36'), Decimal('12')),
 ('Sokoto', 'Marang', Decimal('17'), Decimal('21'), Decimal('19'), Decimal('31'), Decimal('13')),
 ('Sokoto', 'Rural', Decimal('22'), Decimal('13'), Decimal('49'), Decimal('8'), Decimal('8'))]

In [14]:
%%sql -- checking the towns with the highest ratio of people who have taps, but have no running water

SELECT
    province_name,
    town_name,
    -- Calculates the percentage of broken taps by dividing the number of homes with broken taps by the total taps (both working and broken),
    -- then multiplying by 100 and rounding to 0 decimal places.
    ROUND(tap_in_home_broken / (tap_in_home_broken + tap_in_home) * 100, 0) AS Pct_broken_taps
FROM
    town_agg_water_access
ORDER BY
    province_name ASC,     -- Orders results alphabetically by province name
    Pct_broken_taps DESC;  -- Within each province, orders towns by highest percentage of broken taps first

 * mysql+pymysql://root:***@localhost:3306/md_water_services
31 rows affected.

[('Akatsi', 'Lusaka', Decimal('50')),
 ('Akatsi', 'Harare', Decimal('49')),
 ('Akatsi', 'Kintampo', Decimal('46')),
 ('Akatsi', 'Rural', Decimal('36')),
 ('Amanzi', 'Amina', Decimal('95')),
 ('Amanzi', 'Bello', Decimal('52')),
 ('Amanzi', 'Pwani', Decimal('51')),
 ('Amanzi', 'Rural', Decimal('50')),
 ('Amanzi', 'Abidjan', Decimal('46')),
 ('Amanzi', 'Asmara', Decimal('45')),
 ('Amanzi', 'Dahabu', Decimal('2')),
 ('Hawassa', 'Amina', Decimal('56')),
 ('Hawassa', 'Djenne', Decimal('55')),
 ('Hawassa', 'Yaounde', Decimal('51')),
 ('Hawassa', 'Rural', Decimal('50')),
 ('Hawassa', 'Serowe', Decimal('50')),
 ('Hawassa', 'Deka', Decimal('48')),
 ('Hawassa', 'Zanzibar', Decimal('44')),
 ('Kilimani', 'Zuri', Decimal('65')),
 ('Kilimani', 'Rural', Decimal('53')),
 ('Kilimani', 'Mrembo', Decimal('46')),
 ('Kilimani', 'Isiqalo', Decimal('42')),
 ('Kilimani', 'Harare', Decimal('40')),
 ('Kilimani', 'Amara', Decimal('39')),
 ('Sokoto', 'Rural', Decimal('50')),
 ('Sokoto', 'Marang', Decimal('30')),
 ('Sokoto', 'Ilanga', Decimal('29')),
 ('Sokoto', 'Cheche', Decimal('26')),
 ('Sokoto', 'Bahari', Decimal('25')),
 ('Sokoto', 'Majengo', Decimal('25')),
 ('Sokoto', 'Kofi', Decimal('23'))]

## we create a project progress table to implements solutions to the problem

In [16]:
%%sql

CREATE TABLE Project_progress (
    Project_id SERIAL PRIMARY KEY,
    
    /* Unique identifier for each project, automatically incremented.
       Helps keep track of individual projects, especially if we revisit sources in the future.
    */
    
    source_id VARCHAR(20) NOT NULL 
        REFERENCES water_source(source_id) 
        ON DELETE CASCADE 
        ON UPDATE CASCADE,
        
    /* Foreign key linking to the water_source table.
       Ensures that each project references an existing water source.
       If a source is deleted or updated in the water_source table, 
       the change will be cascaded here to maintain data integrity.
    */

    Address VARCHAR(50),             -- Street address of the source.
    Town VARCHAR(30),                -- Town where the source is located.
    Province VARCHAR(30),            -- Province where the source is located.
    Source_type VARCHAR(50),         -- Type of water source (e.g., river, well, etc.).
    Improvement VARCHAR(50),         -- Description of the improvements planned for the source thus what the engineers should do

    Source_status VARCHAR(50) DEFAULT 'Backlog' 
        CHECK (Source_status IN ('Backlog', 'In progress', 'Complete')),
        
    /* Tracks the current status of the project. 
       Default is 'Backlog' (i.e., a task to be done).
       CHECK() constraint restricts entries to 'Backlog', 'In progress', or 'Complete' only.
       Helps ensure that only valid status options are used, promoting data consistency.
    */

    Date_of_completion DATE,         -- Date the project was completed, filled in by engineers upon completion.

    Comments TEXT                    -- Optional field for additional notes by engineers; no character limit.
);

 * mysql+pymysql://root:***@localhost:3306/md_water_services
0 rows affected.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [17]:
%%sql -- empty table

select
    *
from
    Project_progress;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
0 rows affected.

[]

## At a high level, the improvements will be as follows
1. Rivers - Drill well
2. wells: if the well is contaminated with chemicals - Install RO filter
3. wells: if the well is contaminated with biological contaminants - Install UV and RO filter
4. shared_taps: if the queue is longer than 30 min (30 min and above) - Install X taps nearby where X number of taps is calculated using X 
    = FLOOR(time_in_queue) / 30).
5. tap_in_home_broken - Diagnose local infrastructure

## We need :
1. Only records with visit_count = 1
2. These rows:
   a. Where shared taps have queue times of over 30mins
   b. Only wells that are contaminatedd are allowed -- So we exclude wells that are Clean
   c. Include any river and tap_in_home_broken sources.

In [18]:
%%sql -- Gathering data we need
SELECT
    loc.address,                     -- Address of the water source location
    loc.town_name,                   -- Town where the water source is located
    loc.province_name,               -- Province of the water source
    wat.source_id,                   -- Unique identifier of the water source
    wat.type_of_water_source,        -- Type of the water source (e.g., river, tap in home)
    CASE
        WHEN wpoll.results = 'Contaminated: Biological' THEN 'Install UV filter'
        WHEN wpoll.results = 'Contaminated: Chemical' THEN 'Install RO filter'
        WHEN type_of_water_source = 'river' THEN 'Drill well'
        WHEN type_of_water_source = 'shared_tap' AND vis.time_in_queue >= 30 THEN CONCAT("Install ", FLOOR(vis.time_in_queue / 30), " taps nearby")
        WHEN type_of_water_source = 'tap_in_home_broken' THEN 'Diagnose local infrastructure'
        ELSE NULL
    END AS Improvement               -- Populating the Improvement field based on pollution results
FROM
    water_source AS wat              -- Main table with information on water sources
LEFT JOIN
    well_pollution AS wpoll ON wat.source_id = wpoll.source_id
                                    -- Left join to bring in pollution results, if available, from well_pollution
INNER JOIN
    visits AS vis ON wat.source_id = vis.source_id
                                    -- Inner join with visits table to filter by visit count and associate visits with sources
INNER JOIN
    location AS loc ON loc.location_id = vis.location_id
                                    -- Inner join to get location details for each water source
WHERE
    vis.visit_count = 1             -- Filters to include only the first visit, avoiding duplicates in location visits
    AND (
         (wpoll.results != 'Clean')         -- Includes sources with pollution results other than 'Clean' thus we want contaminated wells only
         OR (type_of_water_source IN ('river', 'tap_in_home_broken'))
                                    -- Includes specific types of sources that require attention
         OR (type_of_water_source = 'shared_tap' AND vis.time_in_queue >= 30)
                                    -- Includes shared taps with long queue times for priority assessment
        )
    limit 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('36 Pwani Mchangani Road', 'Ilanga', 'Sokoto', 'SoIl32582224', 'river', 'Drill well'),
 ('129 Ziwa La Kioo Road', 'Rural', 'Kilimani', 'KiRu28935224', 'well', 'Install UV filter'),
 ('18 Mlima Tazama Avenue', 'Rural', 'Hawassa', 'HaRu19752224', 'shared_tap', 'Install 2 taps nearby'),
 ('100 Mogadishu Road', 'Lusaka', 'Akatsi', 'AkLu01628224', 'well', 'Install UV filter'),
 ('26 Bahari Ya Faraja Road', 'Rural', 'Kilimani', 'KiRu29315224', 'river', 'Drill well'),
 ('104 Kenyatta Street', 'Rural', 'Akatsi', 'AkRu05234224', 'tap_in_home_broken', 'Diagnose local infrastructure'),
 ('117 Kampala Road', 'Zanzibar', 'Hawassa', 'HaZa21742224', 'well', 'Install RO filter'),
 ('55 Fennec Way', 'Rural', 'Sokoto', 'SoRu35008224', 'shared_tap', 'Install 8 taps nearby'),
 ('52 Moroni Avenue', 'Rural', 'Sokoto', 'SoRu35703224', 'well', 'Install UV filter'),
 ('51 Addis Ababa Road', 'Harare', 'Akatsi', 'AkHa00070224', 'well', 'Install RO filter')]

In [19]:
%%sql

INSERT INTO Project_progress (Address, Town, Province, source_id, Source_type, Improvement)
SELECT
    loc.address,                     -- Address of the water source location
    loc.town_name,                   -- Town where the water source is located
    loc.province_name,               -- Province of the water source
    wat.source_id,                   -- Unique identifier of the water source
    wat.type_of_water_source,        -- Type of the water source (e.g., river, tap in home)
    CASE
        WHEN wpoll.results = 'Contaminated: Biological' THEN 'Install UV filter'
        WHEN wpoll.results = 'Contaminated: Chemical' THEN 'Install RO filter'
        WHEN type_of_water_source = 'river' THEN 'Drill well'
        WHEN type_of_water_source = 'shared_tap' AND vis.time_in_queue >= 30 THEN CONCAT("Install ", FLOOR(vis.time_in_queue / 30), " taps nearby")
        WHEN type_of_water_source = 'tap_in_home_broken' THEN 'Diagnose local infrastructure'
        ELSE NULL
    END AS Improvement               -- Populating the Improvement field based on pollution results
FROM
    water_source AS wat              -- Main table with information on water sources
LEFT JOIN
    well_pollution AS wpoll ON wat.source_id = wpoll.source_id
                                    -- Left join to bring in pollution results, if available, from well_pollution
INNER JOIN
    visits AS vis ON wat.source_id = vis.source_id
                                    -- Inner join with visits table to filter by visit count and associate visits with sources
INNER JOIN
    location AS loc ON loc.location_id = vis.location_id
                                    -- Inner join to get location details for each water source
WHERE
    vis.visit_count = 1             -- Filters to include only the first visit, avoiding duplicates in location visits
    AND (
         (wpoll.results != 'Clean')         -- Includes sources with pollution results other than 'Clean' thus we want contaminated wells only
         OR (type_of_water_source IN ('river', 'tap_in_home_broken'))
                                    -- Includes specific types of sources that require attention
         OR (type_of_water_source = 'shared_tap' AND vis.time_in_queue >= 30)
                                    -- Includes shared taps with long queue times for priority assessment
        )
    ;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
25398 rows affected.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [20]:
%%sql -- checking our new table

select
    *
from
    Project_progress
limit 20;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
20 rows affected.

[(1, 'SoIl32582224', '36 Pwani Mchangani Road', 'Ilanga', 'Sokoto', 'river', 'Drill well', 'Backlog', None, None),
 (2, 'KiRu28935224', '129 Ziwa La Kioo Road', 'Rural', 'Kilimani', 'well', 'Install UV filter', 'Backlog', None, None),
 (3, 'HaRu19752224', '18 Mlima Tazama Avenue', 'Rural', 'Hawassa', 'shared_tap', 'Install 2 taps nearby', 'Backlog', None, None),
 (4, 'AkLu01628224', '100 Mogadishu Road', 'Lusaka', 'Akatsi', 'well', 'Install UV filter', 'Backlog', None, None),
 (5, 'KiRu29315224', '26 Bahari Ya Faraja Road', 'Rural', 'Kilimani', 'river', 'Drill well', 'Backlog', None, None),
 (6, 'AkRu05234224', '104 Kenyatta Street', 'Rural', 'Akatsi', 'tap_in_home_broken', 'Diagnose local infrastructure', 'Backlog', None, None),
 (7, 'HaZa21742224', '117 Kampala Road', 'Zanzibar', 'Hawassa', 'well', 'Install RO filter', 'Backlog', None, None),
 (8, 'SoRu35008224', '55 Fennec Way', 'Rural', 'Sokoto', 'shared_tap', 'Install 8 taps nearby', 'Backlog', None, None),
 (9, 'SoRu35703224', '52 Moroni Avenue', 'Rural', 'Sokoto', 'well', 'Install UV filter', 'Backlog', None, None),
 (10, 'AkHa00070224', '51 Addis Ababa Road', 'Harare', 'Akatsi', 'well', 'Install RO filter', 'Backlog', None, None),
 (11, 'KiHa23304224', '31 Samora Machel Road', 'Harare', 'Kilimani', 'river', 'Drill well', 'Backlog', None, None),
 (12, 'KiRu26190224', '110 Nyerere Road', 'Rural', 'Kilimani', 'shared_tap', 'Install 5 taps nearby', 'Backlog', None, None),
 (13, 'HaYa21468224', '146 Okapi Road', 'Yaounde', 'Hawassa', 'well', 'Install RO filter', 'Backlog', None, None),
 (14, 'SoRu36278224', '18 Casablanca Road', 'Rural', 'Sokoto', 'well', 'Install UV filter', 'Backlog', None, None),
 (15, 'AkLu02155224', '7 Dakar Drive', 'Lusaka', 'Akatsi', 'well', 'Install RO filter', 'Backlog', None, None),
 (16, 'AkLu02259224', '24 Okonjo-Iweala Street', 'Lusaka', 'Akatsi', 'tap_in_home_broken', 'Diagnose local infrastructure', 'Backlog', None, None),
 (17, 'AkRu06938224', '172 Fisi Nkrumah Street', 'Rural', 'Akatsi', 'well', 'Install RO filter', 'Backlog', None, None),
 (18, 'AkKi01222224', '59 Ziwa Nyeusi Street', 'Kintampo', 'Akatsi', 'tap_in_home_broken', 'Diagnose local infrastructure', 'Backlog', None, None),
 (19, 'AkRu05825224', '140 Mbeki Street', 'Rural', 'Akatsi', 'well', 'Install RO filter', 'Backlog', None, None),
 (20, 'SoRu36313224', '41 Casablanca Road', 'Rural', 'Sokoto', 'well', 'Install UV filter', 'Backlog', None, None)]

In [22]:
%%sql -- checking our new table

select
    *
from
    Project_progress
limit 20;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
20 rows affected.

[(1, 'SoIl32582224', '36 Pwani Mchangani Road', 'Ilanga', 'Sokoto', 'river', 'Drill well', 'Backlog', None, None),
 (2, 'KiRu28935224', '129 Ziwa La Kioo Road', 'Rural', 'Kilimani', 'well', 'Install UV filter', 'Backlog', None, None),
 (3, 'HaRu19752224', '18 Mlima Tazama Avenue', 'Rural', 'Hawassa', 'shared_tap', 'Install 2 taps nearby', 'Backlog', None, None),
 (4, 'AkLu01628224', '100 Mogadishu Road', 'Lusaka', 'Akatsi', 'well', 'Install UV filter', 'Backlog', None, None),
 (5, 'KiRu29315224', '26 Bahari Ya Faraja Road', 'Rural', 'Kilimani', 'river', 'Drill well', 'Backlog', None, None),
 (6, 'AkRu05234224', '104 Kenyatta Street', 'Rural', 'Akatsi', 'tap_in_home_broken', 'Diagnose local infrastructure', 'Backlog', None, None),
 (7, 'HaZa21742224', '117 Kampala Road', 'Zanzibar', 'Hawassa', 'well', 'Install RO filter', 'Backlog', None, None),
 (8, 'SoRu35008224', '55 Fennec Way', 'Rural', 'Sokoto', 'shared_tap', 'Install 8 taps nearby', 'Backlog', None, None),
 (9, 'SoRu35703224', '52 Moroni Avenue', 'Rural', 'Sokoto', 'well', 'Install UV filter', 'Backlog', None, None),
 (10, 'AkHa00070224', '51 Addis Ababa Road', 'Harare', 'Akatsi', 'well', 'Install RO filter', 'Backlog', None, None),
 (11, 'KiHa23304224', '31 Samora Machel Road', 'Harare', 'Kilimani', 'river', 'Drill well', 'Backlog', None, None),
 (12, 'KiRu26190224', '110 Nyerere Road', 'Rural', 'Kilimani', 'shared_tap', 'Install 5 taps nearby', 'Backlog', None, None),
 (13, 'HaYa21468224', '146 Okapi Road', 'Yaounde', 'Hawassa', 'well', 'Install RO filter', 'Backlog', None, None),
 (14, 'SoRu36278224', '18 Casablanca Road', 'Rural', 'Sokoto', 'well', 'Install UV filter', 'Backlog', None, None),
 (15, 'AkLu02155224', '7 Dakar Drive', 'Lusaka', 'Akatsi', 'well', 'Install RO filter', 'Backlog', None, None),
 (16, 'AkLu02259224', '24 Okonjo-Iweala Street', 'Lusaka', 'Akatsi', 'tap_in_home_broken', 'Diagnose local infrastructure', 'Backlog', None, None),
 (17, 'AkRu06938224', '172 Fisi Nkrumah Street', 'Rural', 'Akatsi', 'well', 'Install RO filter', 'Backlog', None, None),
 (18, 'AkKi01222224', '59 Ziwa Nyeusi Street', 'Kintampo', 'Akatsi', 'tap_in_home_broken', 'Diagnose local infrastructure', 'Backlog', None, None),
 (19, 'AkRu05825224', '140 Mbeki Street', 'Rural', 'Akatsi', 'well', 'Install RO filter', 'Backlog', None, None),
 (20, 'SoRu36313224', '41 Casablanca Road', 'Rural', 'Sokoto', 'well', 'Install UV filter', 'Backlog', None, None)]

## answering a few questions!

In [63]:
%%sql
SELECT *
FROM Project_progress
WHERE Improvement IS NULL
LIMIT 20;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
20 rows affected.

[(69, 'AkRu08936224', '103 Ladysmith Black Street', 'Rural', 'Akatsi', 'well', None, 'Backlog', None, None),
 (146, 'AkRu06489224', '180 Popo Kamuzu Street', 'Rural', 'Akatsi', 'well', None, 'Backlog', None, None),
 (249, 'SoRu38011224', '67 Paka Dangote Street', 'Rural', 'Sokoto', 'well', None, 'Backlog', None, None),
 (461, 'AkKi00955224', '103 Tunis Street', 'Kintampo', 'Akatsi', 'well', None, 'Backlog', None, None),
 (901, 'KiHa22929224', '161 Bujumbura Street', 'Harare', 'Kilimani', 'well', None, 'Backlog', None, None),
 (966, 'KiRu25473224', '16 Uhuru Square', 'Rural', 'Kilimani', 'well', None, 'Backlog', None, None),
 (1602, 'HaRu17401224', '86 Rhodes Street', 'Rural', 'Hawassa', 'well', None, 'Backlog', None, None),
 (1630, 'AkRu07137224', '163 Simba Tutu Street', 'Rural', 'Akatsi', 'well', None, 'Backlog', None, None),
 (1906, 'KiRu27205224', '23 Maseru Road', 'Rural', 'Kilimani', 'well', None, 'Backlog', None, None),
 (1912, 'AkLu02307224', '72 Okonjo-Iweala Street', 'Lusaka', 'Akatsi', 'well', None, 'Backlog', None, None),
 (2672, 'AkHa00514224', '31 Ukingo Mkuu Drive', 'Harare', 'Akatsi', 'well', None, 'Backlog', None, None),
 (3468, 'AmAb09197224', '23 Patrice Lumumba Drive', 'Abidjan', 'Amanzi', 'well', None, 'Backlog', None, None),
 (3801, 'AmAm09776224', '50 Zamajobe Avenue', 'Amina', 'Amanzi', 'well', None, 'Backlog', None, None),
 (4691, 'AkRu08599224', '23 African Unity Drive', 'Rural', 'Akatsi', 'well', None, 'Backlog', None, None),
 (5206, 'SoIl32894224', '197 Cape Verde Street', 'Ilanga', 'Sokoto', 'well', None, 'Backlog', None, None),
 (5516, 'AkRu07366224', '69 Ukingo Wa Jua Street', 'Rural', 'Akatsi', 'well', None, 'Backlog', None, None),
 (5737, 'AkKi01423224', '35 Zambezi Street', 'Kintampo', 'Akatsi', 'well', None, 'Backlog', None, None),
 (5960, 'AkRu08367224', '97 Freedom Road', 'Rural', 'Akatsi', 'well', None, 'Backlog', None, None),
 (6772, 'KiHa23443224', '1 Ladysmith Drive', 'Harare', 'Kilimani', 'well', None, 'Backlog', None, None),
 (7214, 'HaSe21137224', '14 Umqombothi Avenue', 'Serowe', 'Hawassa', 'well', None, 'Backlog', None, None)]

In [61]:
%%sql

select
    Improvement,
    count(*)
from
    Project_progress
group by
    Improvement;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
13 rows affected.

[('Drill well', 3379),
 ('Install UV filter', 5310),
 ('Install 2 taps nearby', 307),
 ('Diagnose local infrastructure', 5856),
 ('Install RO filter', 7093),
 ('Install 8 taps nearby', 760),
 ('Install 5 taps nearby', 308),
 ('Install 1 taps nearby', 1037),
 ('Install 7 taps nearby', 360),
 ('Install 4 taps nearby', 342),
 (None, 64),
 ('Install 3 taps nearby', 300),
 ('Install 6 taps nearby', 282)]

In [60]:
%%sql -- CHECKING HOW MANY UV FILTERS WE HAVE TO INSTALL

select
    count(*) uv_filters_to_install
from
    Project_progress as pro
where
    pro.Improvement like '%UV%';

 * mysql+pymysql://root:***@localhost:3306/md_water_services
1 rows affected.

[(5310,)]

In [28]:
%%sql -- which province should we send drilling equipment to fist

select
    *
from
    Project_progress
where
    Improvement like "%drill%"
limit 3;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
3 rows affected.

[(1, 'SoIl32582224', '36 Pwani Mchangani Road', 'Ilanga', 'Sokoto', 'river', 'Drill well', 'Backlog', None, None),
 (5, 'KiRu29315224', '26 Bahari Ya Faraja Road', 'Rural', 'Kilimani', 'river', 'Drill well', 'Backlog', None, None),
 (11, 'KiHa23304224', '31 Samora Machel Road', 'Harare', 'Kilimani', 'river', 'Drill well', 'Backlog', None, None)]

In [41]:
%%sql -- which towns should we upgrade shared taps first?

SELECT
    Town,
    count(*) AS freq_towns
FROM
    Project_progress
WHERE
    Source_type = 'shared_tap'
GROUP BY 
    Town
ORDER BY
    freq_towns desc
LIMIT 30;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
25 rows affected.

[('Rural', 2734),
 ('Zuri', 228),
 ('Asmara', 122),
 ('Dahabu', 87),
 ('Pwani', 70),
 ('Bello', 69),
 ('Abidjan', 56),
 ('Amina', 44),
 ('Harare', 38),
 ('Lusaka', 31),
 ('Mrembo', 26),
 ('Amara', 24),
 ('Isiqalo', 23),
 ('Majengo', 20),
 ('Kofi', 18),
 ('Kintampo', 18),
 ('Ilanga', 15),
 ('Cheche', 14),
 ('Marang', 12),
 ('Zanzibar', 10),
 ('Serowe', 10),
 ('Djenne', 8),
 ('Deka', 7),
 ('Bahari', 7),
 ('Yaounde', 5)]

In [48]:
%%sql -- checking towns that have less than 50% access to home taps(including working and broken)

SELECT
    province_name,
    town_name,
    -- Calculates the percentage of broken taps by dividing the number of homes with broken taps by the total taps (both working and broken),
    -- then multiplying by 100 and rounding to 0 decimal places.
    ROUND((tap_in_home_broken + tap_in_home) / (river + well + shared_tap + tap_in_home_broken + tap_in_home) * 100, 0) AS acc_home_taps
FROM
    town_agg_water_access
ORDER BY
    province_name ASC,     -- Orders results alphabetically by province name
    acc_home_taps DESC;  -- Within each province, orders towns by highest percentage of broken taps first

 * mysql+pymysql://root:***@localhost:3306/md_water_services
31 rows affected.

[('Akatsi', 'Kintampo', Decimal('57')),
 ('Akatsi', 'Lusaka', Decimal('55')),
 ('Akatsi', 'Harare', Decimal('54')),
 ('Akatsi', 'Rural', Decimal('14')),
 ('Amanzi', 'Rural', Decimal('60')),
 ('Amanzi', 'Amina', Decimal('59')),
 ('Amanzi', 'Dahabu', Decimal('56')),
 ('Amanzi', 'Asmara', Decimal('44')),
 ('Amanzi', 'Bello', Decimal('42')),
 ('Amanzi', 'Abidjan', Decimal('41')),
 ('Amanzi', 'Pwani', Decimal('41')),
 ('Hawassa', 'Serowe', Decimal('46')),
 ('Hawassa', 'Yaounde', Decimal('45')),
 ('Hawassa', 'Deka', Decimal('44')),
 ('Hawassa', 'Amina', Decimal('43')),
 ('Hawassa', 'Djenne', Decimal('42')),
 ('Hawassa', 'Zanzibar', Decimal('39')),
 ('Hawassa', 'Rural', Decimal('24')),
 ('Kilimani', 'Harare', Decimal('51')),
 ('Kilimani', 'Mrembo', Decimal('46')),
 ('Kilimani', 'Isiqalo', Decimal('43')),
 ('Kilimani', 'Amara', Decimal('41')),
 ('Kilimani', 'Rural', Decimal('17')),
 ('Kilimani', 'Zuri', Decimal('17')),
 ('Sokoto', 'Ilanga', Decimal('51')),
 ('Sokoto', 'Bahari', Decimal('48')),
 ('Sokoto', 'Majengo', Decimal('48')),
 ('Sokoto', 'Cheche', Decimal('47')),
 ('Sokoto', 'Kofi', Decimal('44')),
 ('Sokoto', 'Marang', Decimal('44')),
 ('Sokoto', 'Rural', Decimal('16'))]

In [59]:
%%sql

SELECT
    proj.Project_id,
    proj.Town,
    proj.Province,
    proj.Source_type,
    proj.Improvement,
    wat.number_of_people_served,
    RANK() OVER(PARTITION BY Province ORDER BY number_of_people_served) as proj_rank
FROM
    Project_progress as proj
JOIN
    water_source as wat ON wat.source_id = proj.Source_id
WHERE
    Improvement = "Drill Well"
ORDER BY
    proj.Province DESC, wat.number_of_people_served
limit 50;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
50 rows affected.

[(24068, 'Rural', 'Sokoto', 'river', 'Drill well', 400, 1),
 (22262, 'Rural', 'Sokoto', 'river', 'Drill well', 400, 1),
 (9245, 'Kofi', 'Sokoto', 'river', 'Drill well', 400, 1),
 (17844, 'Rural', 'Sokoto', 'river', 'Drill well', 400, 1),
 (674, 'Majengo', 'Sokoto', 'river', 'Drill well', 400, 1),
 (17781, 'Majengo', 'Sokoto', 'river', 'Drill well', 400, 1),
 (17592, 'Rural', 'Sokoto', 'river', 'Drill well', 400, 1),
 (22113, 'Rural', 'Sokoto', 'river', 'Drill well', 400, 1),
 (11181, 'Rural', 'Sokoto', 'river', 'Drill well', 400, 1),
 (19532, 'Rural', 'Sokoto', 'river', 'Drill well', 400, 1),
 (24244, 'Rural', 'Sokoto', 'river', 'Drill well', 402, 11),
 (12101, 'Rural', 'Sokoto', 'river', 'Drill well', 402, 11),
 (6400, 'Rural', 'Sokoto', 'river', 'Drill well', 402, 11),
 (8109, 'Ilanga', 'Sokoto', 'river', 'Drill well', 402, 11),
 (9358, 'Rural', 'Sokoto', 'river', 'Drill well', 402, 11),
 (9805, 'Rural', 'Sokoto', 'river', 'Drill well', 402, 11),
 (1, 'Ilanga', 'Sokoto', 'river', 'Drill well', 402, 11),
 (12879, 'Rural', 'Sokoto', 'river', 'Drill well', 404, 18),
 (7205, 'Rural', 'Sokoto', 'river', 'Drill well', 404, 18),
 (2935, 'Marang', 'Sokoto', 'river', 'Drill well', 404, 18),
 (16955, 'Rural', 'Sokoto', 'river', 'Drill well', 404, 18),
 (17125, 'Bahari', 'Sokoto', 'river', 'Drill well', 404, 18),
 (21662, 'Rural', 'Sokoto', 'river', 'Drill well', 404, 18),
 (25114, 'Rural', 'Sokoto', 'river', 'Drill well', 406, 24),
 (21582, 'Rural', 'Sokoto', 'river', 'Drill well', 406, 24),
 (12660, 'Majengo', 'Sokoto', 'river', 'Drill well', 406, 24),
 (23608, 'Rural', 'Sokoto', 'river', 'Drill well', 406, 24),
 (12858, 'Rural', 'Sokoto', 'river', 'Drill well', 406, 24),
 (6227, 'Rural', 'Sokoto', 'river', 'Drill well', 406, 24),
 (10586, 'Rural', 'Sokoto', 'river', 'Drill well', 406, 24),
 (17469, 'Bahari', 'Sokoto', 'river', 'Drill well', 406, 24),
 (17255, 'Rural', 'Sokoto', 'river', 'Drill well', 408, 32),
 (19430, 'Majengo', 'Sokoto', 'river', 'Drill well', 408, 32),
 (14863, 'Rural', 'Sokoto', 'river', 'Drill well', 410, 34),
 (23943, 'Marang', 'Sokoto', 'river', 'Drill well', 410, 34),
 (12851, 'Rural', 'Sokoto', 'river', 'Drill well', 410, 34),
 (2053, 'Rural', 'Sokoto', 'river', 'Drill well', 410, 34),
 (16839, 'Rural', 'Sokoto', 'river', 'Drill well', 410, 34),
 (10427, 'Rural', 'Sokoto', 'river', 'Drill well', 410, 34),
 (3351, 'Rural', 'Sokoto', 'river', 'Drill well', 410, 34),
 (7369, 'Bahari', 'Sokoto', 'river', 'Drill well', 412, 41),
 (3867, 'Rural', 'Sokoto', 'river', 'Drill well', 412, 41),
 (23107, 'Bahari', 'Sokoto', 'river', 'Drill well', 412, 41),
 (3431, 'Rural', 'Sokoto', 'river', 'Drill well', 412, 41),
 (18700, 'Majengo', 'Sokoto', 'river', 'Drill well', 412, 41),
 (16174, 'Ilanga', 'Sokoto', 'river', 'Drill well', 412, 41),
 (6977, 'Rural', 'Sokoto', 'river', 'Drill well', 412, 41),
 (19323, 'Rural', 'Sokoto', 'river', 'Drill well', 412, 41),
 (3997, 'Rural', 'Sokoto', 'river', 'Drill well', 414, 49),
 (5650, 'Rural', 'Sokoto', 'river', 'Drill well', 414, 49)]